<p>persons works!</p>

<form class="example-form">
    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Welke naam</mat-label>
        <input matInput placeholder="naam" value="" [(ngModel)]="inputValue" (change)="changeInputValue($event)"
            [ngModelOptions]="{standalone: true}">
    </mat-form-field>
</form>
<button (click)="getProfile()" mat-icon-button>save person</button>
<p>{{ message }}</p>


<table>
    <thead>
        <th>rowKey</th>
        <th>partitionKey</th>
        <th>email</th>
        <th>name</th>
    </thead>
    <tr *ngFor="let person of persons">
        <td>{{person.rowKey}}</td>
        <td>{{person.partitionKey}}</td>
        <td>{{person.email}}</td>
        <td>{{person.name}}</td>
    </tr>
</table>