@import '~@angular/material/prebuilt-themes/indigo-pink.css';


html, 
body { 
    height: 100%; 
}

body {
    margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; 
    .menu{
        padding: 0, 50px !important;
    }
    .container {
        width: 998px;
        margin: auto; 
    }
}
