{
    "IsEncrypted": false,
    "Values": {
      "AzureWebJobsStorage": "UseDevelopmentStorage=true",
      "FUNCTIONS_WORKER_RUNTIME": "dotnet",
      "AZURE_STORAGE_CONNECTION_STRING": "#{ STORAGE CONNECTIONSTRING }#"
    },
    "Host": {
    }
  }